@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 95px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 999;
  font-weight: 700;
  line-height: 6px;
  text-transform: uppercase;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__hamburger {
  display: none;
}

.logo {
  font-size: 25px;
  letter-spacing: -0.55px;
}

.logo-star {
  color: #f06c64;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  padding-top: 10px;
  font-size: 12px;
  letter-spacing: -0.2px;
  list-style: none;
  text-transform: uppercase;
}

.navigation li {
  position: relative;
}

.navigation li:not(:last-child) {
  margin-right: 30px;
}

.navigation li:not(:first-child)::before {
  position: absolute;
  bottom: 2px;
  left: -16px;
  width: 2px;
  height: 2px;
  content: '';
  background: #494e62;
  border-radius: 50%;
}

.navigation__link {
  transition: color 150ms ease-in-out;
}

.navigation__link_active {
  color: #f06c64;
}

main {
  margin-top: 95px;
}

.slider {
  max-width: 1020px;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.carousel__controls__button {
  background-color: inherit;
  outline: none;
  position: absolute;
  top: 284px;
  z-index: 2;
  border-bottom: 6px solid #ca4549;
  border-right: 6px solid #ca4549;
  border-left: none;
  border-top: none;
  border-radius: 3px;
  cursor: pointer;
  transition: border 150ms ease-in-out;
}

.button-prev {
  left: 45px;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
}

.button-next {
  right: 43px;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.carousel__slides {
  display: flex;
  height: 100%;
  width: 200%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.carousel__slide {
  flex-basis: 50%;
  flex-shrink: 0;
  display: flex;
  flex-grow: 1;
}

.carousel__slide-1 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background: #f06c64;
  border-bottom: 5px solid #ea676b;
}

.carousel__slide-2 {
  width: 100%;
  height: 100%;
  background: #648BF0;
  border-bottom: 5px solid #148BF0;
}

.vertical-phone {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 1;
}

.vertical-phone__display {
  width: 188px;
  height: 333px;
  position: absolute;
  top: 65px;
  left: 14px;
  z-index: 2;
}

.display-off {
  display: none;
}

.vertical-phone__display-image {
  height: 100%;
  width: 100%;
  background-image: url("./assets/images/vertical-phone-image.jpg");
  background-repeat: no-repeat;
  background-position: 3.5% 54.5%;
}

.phone__button {
  width: 42px;
  height: 42px;
  border: 4px solid #f06c64;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.vertical-phone__button {
  bottom: 36px;
  left: 86px;
}

.horizontal-phone__button {
  top: 86px;
  left: 8px;
}

.horizontal-phone {
  position: absolute;
  top: 174px;
  right: 111px;
  z-index: 1;
}

.horizontal-phone__display {
  width: 333px;
  height: 188px;
  position: absolute;
  right: 91px;
  top: 14px;
  z-index: 2;
}

.horizontal-phone__display-image {
  height: 100%;
  width: 100%;
  background-image: url("./assets/images/horizontal-phone-image.jpg");
  background-repeat: no-repeat;
  background-position: 50.5% 30.3%;
}

section {
  scroll-margin-top: 68px;
}

section:not(:first-child) {
  padding-top: 69px;
}

.section__title {
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  text-transform: capitalize;
}

.section__description { 
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  text-align: justify;
}

.services {
  padding-bottom: 61px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  letter-spacing: -0.2px;
  color: #666d89;
}

.services__description {
  margin-bottom: 14px;
  letter-spacing: 0.15px;
}

.services__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1px;
}

.services__item {
  max-width: 300px;
  flex: 0 1 33%;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}

.services__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  border: 2px solid #767e9e;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-pen {
  background-image: url("./assets/images/pen.png");
}

.icon-bulb {
  background-image: url("./assets/images/bulb.png");
  background-position: center 49%;
}

.icon-heart {
  background-image: url("./assets/images/heart.png");
}

.icon-heart {
  background-image: url("./assets/images/heart.png");
}

.icon-phone {
  background-image: url("./assets/images/phone.png");
}

.icon-bubble {
  background-image: url("./assets/images/bubble.png");
}

.icon-star {
  background-image: url("./assets/images/star.png");
}

.services__item--info {
  width: 220px;
  max-height: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services__item--info__title {
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 900;
  line-height: 15px;
  color: #666d89;
}

.services__item--info__text {
  min-height: 128px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #767e9e;
  text-align: justify;
}

.portfolio {
  width: 100%;
  padding-bottom: 47px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  color: #666d89;
}

.portfolio__description {
  margin-bottom: 10px;
}

.portfolio-controls {
  margin-bottom: 19px;
  padding-left: 1px;
}

.portfolio-controls__button {
  outline: none;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #767e9e;
  border-radius: 5px;
  background: inherit;
  border: 1px solid #666d89;
  transition: all 250ms ease-out;
}

.portfolio-controls__button:last-child {
  padding: 0 5px;
}

.portfolio-controls__button:not(:last-child) {
  margin-right: 7px;
}

.portfolio-controls__button:focus {
  color: #666d89;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
  cursor: pointer;
  transform: scale(1.05);
}

.portfolio-controls__button_active {
  color: #dedede;
  border-color: #c5c5c5;
}

.portfolio__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__preview:nth-child(n+13) {
  display: none;
}

.portfolio__preview {
  margin-bottom: 20px;
  width: 220px;
  height: 187px;
  list-style-type: none;
  background-color: #464b5e;
  transition: opacity 250ms ease-in-out;
  border: none;
}

.portfolio__preview_bordered {
  outline: 5px solid #F06C64;
}

.portfolio__preview:first-child {
  border-radius: 3px;
}

.preview {
  width: 100%;
  height: 100%;
}

.preview-1 {
  background: url('./assets/images/preview-1.jpg');
  background-position: 45% 21%;
}

.preview-2 {
  background: url('./assets/images/preview-2.jpg');
  background-position: 57% 50%;
}

.preview-3 {
  background: url('./assets/images/preview-3.jpg');
  background-position: 36% 1%;
}

.preview-4 {
  background: url('./assets/images/preview-4.jpg');
  background-position: 57% 25%;
}

.preview-5 {
  background: url('./assets/images/preview-5.jpg');
  background-position: 46% 18%;
}

.preview-6 {
  background: url('./assets/images/preview-6.jpg');
  background-position: 42% 59%;
}

.preview-7 {
  background: url('./assets/images/preview-7.jpg');
  background-position: 20.6% 21%;
}

.preview-8 {
  background: url('./assets/images/preview-8.jpg');
  background-position: 42% 35%;
}

.preview-9 {
  background: url('./assets/images/preview-9.jpg');
  background-position: 48% 46%;
}

.preview-10 {
  background: url('./assets/images/preview-10.jpg');
  background-position: 55.6% 23.6%;
}

.preview-11 {
  background: url('./assets/images/preview-11.jpg');
  background-position: 74% 77.7%;
}

.preview-12 {
  background: url('./assets/images/preview-12.jpg');
  background-position: 47% 25%;
}

.about-us {
  padding-bottom: 67px;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.about-us__title {
  color: #666d89;
}

.about-us__description {
  letter-spacing: 0.151px;
  margin-bottom: 45px;
}

.about-us__members-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us__member {
  width: 300px;
}

.about-us__member:nth-child(2) {
  width: 303px;
  padding-left: 1px;
}

.member__photo {
  width: 300px;
  height: 300px;
  margin-bottom: 17px;
}

.photo-1,
.photo-2,
.photo-3 {
  width: 100%;
  height: 100%;
}

.photo-1 {
  background-image: url('./assets/images/photo-1.jpg');
}

.photo-2 {
  background-image: url('./assets/images/photo-2.jpg');
}

.photo-3 {
  background-image: url('./assets/images/photo-3.jpg');
}

.member__name {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #666d89;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.member__text {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  letter-spacing: -0.06px;
  margin-bottom: 24px;
  text-align: justify;
}

.social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.member__social1 {
  padding-left: 1px;
}

.member__social2 {
  padding-left: 1px;
}

.social__icon:not(:last-child) {
  margin-right: 8px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  transition: opacity 250ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}

.social__icon-fb {
  background-image: url("./assets/images/facebook.png");
}

.social__icon-google {
  background-image: url("./assets/images/google+.png");
}

.social__icon-twitter {
  background-image: url("./assets/images/twitter.png");
}

.social__icon-linkedin {
  background-image: url("./assets/images/linkedin.png");
}

.feedback {
  padding-bottom: 10px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  color: #f0d8d9;
}

.feedback__title {
  letter-spacing: -0.13px;
  text-transform: none;
}

.feedback__description {
  margin-bottom: 44px;
  letter-spacing: 0.15px;
  color: #f0d8d9;
}

p span {
  letter-spacing: 0.016px;
}

.feedback__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  width: 620px;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  width: 619px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  color: #f48c8f;
  background-color: #d6564f;
  outline: none;
  transition: all 250ms ease-in-out;
}

input {
  height: 38px;
}

textarea {
  height: 202px;
  padding-top: 7px;
  resize: none;
  overflow: auto;
}

input:focus,
textarea:focus {
  background-color: #f0d8d9;
  color: #2d303a;
}

input::placeholder,
textarea::placeholder {
  color: #f48c8f;
}

.submit-btn {
  color: #f0d8d9;
  width: 100px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  margin-bottom: 0px;
}

.feedback__contact-info {
  height: 175px;
  width: 300px;
}

.feedback__contact-info h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.11px;
  color: #f0d8d9;
  font-weight: 900;
}

.feedback__text {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.149px;
  text-align: justify;
  font-weight: 400;
}

.contacts {
  margin-top: 20px;
  list-style-type: none;
}

.contacts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color:#f0d8d9;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.149px;
  text-align: justify;
  font-weight: 400;
  transition: opacity 250ms ease-in;
}

.contacts__icon-container {
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon-location {
  padding-bottom: 2px;
}

.icon-contact-phone {
  padding-bottom: 3px;
}

footer {
  height: 76px;
  background-color: #2d303a;
}

.footer__inner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #666d89;
  padding-left: 2px;
  padding-bottom: 2px;
}

.footer-social {
  justify-content: space-between;
}

.modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0008;
}

.modal.hidden {
  display: none;
}

.modal__message {
  width: 500px;
  max-height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fef9f9;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
}

.modal h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.modal p {
  max-height: 330px;
  margin-bottom: 15px;
  text-align: justify;
  overflow: auto;
}

.close-btn {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
  transition: all 250ms ease-in-out;
  background-color: #008080;
  color: #ffffff;
  border: none;
}

@media (hover: hover) {
  .navigation__link:hover {
    color: #f06c64;
    text-decoration: underline;
  }

  .carousel__controls__button:hover {
    border-right-color: #000000;
    border-bottom-color: #000000;
  }

  .phone__button:hover {
    opacity: 1;
    cursor: pointer;
  }

  .portfolio-controls__button:hover {
    color: #666d89;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: pointer;
    transform: scale(1.05);
  }

  .portfolio__preview:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .social__icon:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .submit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .close-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  input:hover,
  textarea:hover {
  background-color: #d6363f;
  }

  .contacts__link:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1019px) {
  .navigation {
    padding-top: 3px;
  }

  .wrapper {
    width: 100%;
    padding: 0 40px 0 41px;
  }

  section {
    width: 100%;
  }

  .vertical-phone {
    top: 50%;
    left: 50%;
    transform: translate(-166%, -50%);
  }

  .vertical-phone img {
    width: 180px;
    height: 363px;
  }

  .vertical-phone__display {
    width: 142px;
    height: 251px;
    top: 13.3%;
    left: 6%;
  }

  .phone__button {
    width: 31px;
    height: 31px;
  }

  .vertical-phone__button {
    bottom: 28px;
    left: 65px;
  }

  .horizontal-phone {
    top: 50%;
    right: 50%;
    transform: translate(82%, -50%);
  }

  .horizontal-phone img {
    width: 364px;
    height: 180px;
  }

  .horizontal-phone__display {
    width: 251px;
    height: 142px;
    top: 10px;
    right: 68px;
  }

  .horizontal-phone__button {
    top: 35.5%;
    left: 1.7%;
  }

  .vertical-phone__display-image,
  .horizontal-phone__display-image {
    background-size: cover;
  }

  .carousel__slide-2 {
    width: 100%;
    height: 100%;
  }

  .carousel__slide-2 img {
    width: 100%;
  }

  .carousel__controls__button {
    top: 46.82%;
  }

  .button-prev {
    left: 3.7%;
  }

  .button-next {
    right: 3.63%;
  }

  section:not(:first-child) {
    padding-top: 48px;
  }

  .services {
    padding-bottom: 10px;
  }

  .services__description {
    margin-bottom: 37px;
  }

  .services__item {
    flex: 0 1 50%;
    padding-top: 0;
    margin-bottom: 56px;
  }

  .services__item:nth-child(2n) {
    margin-right: 33px;
  }

  #portfolio {
    padding-top: 67px;
    padding-bottom: 67px;
  }

  .portfolio__description {
    letter-spacing: 0.4px;
  }

  .portfolio-controls {
    margin-bottom: 30px;
  }

  .portfolio__preview {
    width: calc(33vw - 43px);
    height: calc(33vw - 76px);
    margin: 0 0 20px;
  }

  .portfolio__preview:nth-child(n+9) {
    margin: 0;
  }

  .preview {
    background-size: cover;
  }

  #about-us {
    padding-top: 61px;
  }

  .about-us__description {
    margin-bottom: 38px;
  }

  .about-us__member {
    width: calc(33vw - 40px);
  }

  .about-us__member:nth-child(2) {
    width: calc(33vw - 40px);
  }

  .member__photo {
    width: 100%;
    height: calc(33vw - 40px);
    margin-bottom: 9px;
  }

  .photo {
    background-size: cover;
    background-position: center;
  }

  .member__name {
    margin-bottom: 3px;
  }

  .member__text {
    margin-bottom: 13px;
  }

  #feedback {
    padding-top: 63px;
    padding-bottom: 41px;
  }

  .feedback__description {
    margin-bottom: 25px;
  }

  .feedback__field {
    margin-left: -2px;
  }

  form {
    width: calc(66vw - 65px);
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 12px;
    padding-left: 9px;
  }

  textarea {
    height: 159px;
    padding-top: 5px;
  }

  .submit-btn {
    width: 30%;
    padding: 0;
  }

  .feedback__contact-info {
    width: calc(33vw - 35px);
  }

  .feedback__contact-info h3 {
    margin-bottom: 3px;
  }

  .feedback__text {
    width: 100%;
  }

  .contacts {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  header {
    max-height: 71px;
  }

  .header__inner {
    justify-content: center;
  }
  
  .logo {
    padding-top: 5px;
    margin-left: 4px;
    font-size: 19px;
    order: 2;
  }

  .logo__menu {
    z-index: 50;
    position: absolute;
    font-size: 20px;
    top: 25px;
    left: 67px;
  }

  .header__menu {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 48, 58, 0.6);
    top: 0;
    left: 0;
    display: none;
  }

  .navigation {
    z-index: 20;
    position: absolute;
    width: 278px;
    padding: 242px 0 0px 71px;
    font-size: 24px;
    height: 100%;
    background-color: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    opacity: 1;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navigation li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 51px;
  }

  .navigation li:not(:first-child)::before {
    display: none;
  }

  .header__hamburger {
    position: absolute;
    z-index: 30;
    top: 23px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 103px;
  }

  .header__hamburger span {
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
  }

  .header__hamburger::before,
  .header__hamburger::after {
    content: '';

    background-color: #ffffff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
  }

  .vertical-phone img {
    width: 88.3px;
    height: 177.6px;
  }

  .vertical-phone__display {
    width: 70px;
    height: 123px;
    top: 13.3%;
    left: 6%;
  }

  .phone__button {
    width: 15.4px;
    height: 15.4px;
  }

  .vertical-phone__button {
    bottom: 15px;
    left: 32px;
  }

  .horizontal-phone img {
    height: 88.3px;
    width: 177.6px;
  }

  .horizontal-phone__display {
    width: 123px;
    height: 70px;
    top: 5px;
    right: 32px;
  }

  .horizontal-phone__button {
    top: 35.5%;
    left: 1.7%;
  }

  .button-prev {
    left: 10px;
  }

  .button-next {
    right: 10px;
  }

  .carousel__controls__button {
    top: 44.82%;
  }

  main {
    margin-top: 71px;
  }

  .wrapper {
    padding: 0 30px 0 30px;
  }

  #services {
    padding-top: 32px;
    padding-bottom: 0px;
  }

  .services__description {
    margin-bottom: 30px;
  }

  .services__item {
    flex: 0 1 100%;
    margin-bottom: 30px;
  }

  .services__item:nth-child(2n) {
    margin-right: 0;
  }

  .services__item:last-child {
    margin-bottom: 16px;
  }

  #portfolio {
    padding-bottom: 23px;
    padding-top: 52px;
  }

  .portfolio__description {
    margin-bottom: 15px;
    letter-spacing: 0;
  }

  .portfolio-controls {
    padding-left: 0;
    margin-bottom: 25px;
  }

  .portfolio__preview {
    width: calc(50vw - 47px);
    height: calc(50vw - 80px);
    margin: 0 0 14px;
  }

  .portfolio__preview:nth-child(n+9) {
    display: none;
  }

  #about-us {
    padding-top: 42px;
    padding-bottom: 39px;
  }

  .about-us__description {
    margin-bottom: 24px;
  }

  .about-us__member {
    width: calc(100vw - 60px);
    margin-bottom: 34px;
  }

  .about-us__member:nth-child(2) {
    width: calc(100vw - 60px);
  }

  .about-us__member:last-child {
    margin-bottom: 0;
  }

  .member__photo {
    width: 100%;
    height: calc(100vw - 60px);
    margin-bottom: 17px;
  }

  .photo {
    background-size: cover;
    background-position: center;
  }

  #feedback {
    padding-top: 52px;
    padding-bottom: 51px;
  }

  .feedback__field {
    margin-left: 0;
    flex-direction: column;
  }

  form {
    width: 100%;
    margin-bottom: 32px;
  }

  textarea {
    margin-bottom: 10px;
  }

  .submit-btn {
    width: 100%;
    height: 50px;
  }

  .feedback__contact-info {
    width: 100%;
  }

  .contacts__link {
    line-height: 25px;
  }

  .footer__inner {
    justify-content: center;
  }

  .copyright {
    display: none;
  }

  .modal__message {
    width: 80vw;
    max-height: 80vw;
  }

  .modal p {
    max-height: 10vh;
    margin-bottom: 15px;
    text-align: justify;
    overflow: auto;
  }
}

@media (max-width: 374px) {
  .vertical-phone img {
    width: 70px;
    height: 140px;
  }

  .vertical-phone__display {
    width: 55px;
    height: 97px;
  }

  .phone__button {
    width: 10px;
    height: 10px;
  }

  .vertical-phone__button {
    bottom: 14px;
    left: 27px;
  }

  .horizontal-phone img {
    height: 70px;
    width: 140px;
  }

  .horizontal-phone__display {
    width: 97px;
    height: 55px;
    top: 4px;
    right: 26px;
  }

  .horizontal-phone__button {
    top: 35.5%;
    left: 1.7%;
  }

  .wrapper {
    padding: 0 15px;
  }

  .portfolio__preview {
    width: calc(50vw - 30px);
    height: calc(50vw - 63px);
  }

  .about-us__members-list {
    flex-direction: column;
    align-items: center;
  }
}